@charset "UTF-8";
.image {
  position: relative;
  margin: -14px;
}
.image nav {
  position: absolute;
  top: 0;
  width: 100%;
}

.marklist {
  padding-left: 900px;
}
.marklist a:hover {
  transition: 0.5s;
  color: #13baed;
}

ul.marklist li {
  display: inline;
  margin: 12px;
  font-size: 18px;
  font-family: "Russo One";
}
ul.marklist a {
  color: white;
  text-decoration: none;
}
.telephone{
  font-size: 10px;
  margin-top: -10px;
}

.zagolovok {
  font-family: "Roboto";
  font-size: 230%;
  text-align: center;
}

.text {
  font-family: "Open Sans";
  padding-left: 30px;
  padding-right: 30px;
}

.list2 li {
  list-style: none;
}
.list2 li:before {
  content: "➤";
}

.othersites {
  color: #13baed;
}
.othersites:hover {
  cursor: help;
  transition: 0.5s;
  color: #03fcc2;
}

.benefits {
  margin-left: 100px;
  margin-right: 150px;
  width: 85%;
  table-layout: fixed;
}

.text1 {
  font-family: "Open Sans";
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  vertical-align: top;
  word-wrap: normal;
}
.text1 strong {
  font-weight: bolder;
}

.countries {
  padding-left: 250px;
}

.textcountry {
  padding-left: 30px;
  padding-right: 120px;
  line-height: 1.5;
  letter-spacing: 1px;
}
.textcountry p {
  padding-right: 200px;
  font-family: "Open Sans";
  text-align: justify;
}
.textcountry h3 {
  font-family: "Russo One";
}

.send {
  color: black;
  font-family: "Russo One";
}
.send:hover {
  cursor: alias;
  color: blue;
  transition: 0.5s;
}

.opros {
  padding-left: 30px;
  font-family: "Open Sans";
}

.button-otpr {
  margin-top: 15px;
  margin-left: 10px;
  background: transparent;
  border-width: 0;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  transition: 0.3s;
}
.button-otpr span {
  display: block;
  position: relative;
  z-index: 3;
  color: white;
  padding: 0 30px;
  line-height: 40px;
}
.button-otpr:before {
  content: "";
  position: absolute;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  left: -5px;
  top: -5px;
  background: #0095ff;
  z-index: 1;
  transition: 0.4s ease-out;
}
.button-otpr:hover:before {
  transform: translate(5px, 5px);
}
.button-otpr:after {
  content: "";
  position: absolute;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  right: -5px;
  bottom: -5px;
  background: #00e5ff;
  transition: 0.4s ease-out 0.1s;
}
.button-otpr:hover:after {
  transform: translate(-5px, -5px);
}

.pole, .atribut {
  font-family: "Open Sans";
}
.pole p, .atribut p {
  clear: both;
  line-height: 25px;
  padding-right: 50px;
}

.atribut {
  text-align: left;
}

.user {
  font-family: "Open Sans";
  font-size: 15px;
  width: 280px;
  padding-left: 15px;
  height: 27px;
  border-radius: 3px;
}

.label {
  float: left;
  padding-left: 20px;
}

.agree {
  font-size: 14px;
  font-family: "Open Sans";
}

.formsvaz {
  margin-left: 550px;
  margin-right: 550px;
  padding-left: 30px;
  border-width: 5px;
  border-style: groove;
  border-radius: 10px;
  border-color: #b8b8b8;
}

.scroll {
  width: 300px;
  height: 70px;
  font-weight: 12px;
  overflow-y: scroll;
  font-family: "Open Sans";
}

.button-reg {
  font-family: "Open Sans";
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border: none;
  margin-top: 15px;
  margin-left: 60px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
  background: #0080ff;
}
.button-reg:hover {
  background: #09ff00;
  transition: 0.5s;
}

textarea{
  border-color: black;
  border-width: 2px;
  resize: none;
}

.otstyp2 {
  margin-top: 200px;
}
.otstyp1{
  margin-top: 50px;
}
.socnetwork {
  padding-left: 660px;
}

ul.socnetwork li {
  display: inline;
}

.footer {
  position: relative;
  margin: -30px;
  margin-top: 90px;
}
.footer nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #003282;
}

.niz {
  font-family: "Open Sans";
  color: white;
  padding-left: 595px;
}
